.select-panel-1 {
  transition: 0.2s ease-in !important;
  cursor: pointer;
}

.select-panel-1:hover {
  color: white;
  background-color: #05c256;
}

.info-icon {
  transition: 0.2s ease-in !important;
}

.select-panel-1:hover .info-icon {
  color: white !important;
}

.select-panel-2:hover .info-icon {
  color: white !important;
}

.select-panel-3:hover .info-icon {
  color: white !important;
}

.select-panel-2 {
  transition: 0.2s ease-in !important;
  cursor: pointer;
}

.select-panel-2:hover {
  color: white;
  background-color: #00a4f4;
}

.select-panel-3 {
  transition: 0.2s ease-in !important;
  cursor: pointer;
}

.select-panel-3:hover {
  color: white;
  background-color: #ff5454;
}
