@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Mono&display=swap");

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
